body {
    width: 80%;
    margin: auto;
}

video, .video {
    width: 100%; /* LARGURA */
    height: 100%; /* ALTURA */
    position: absolute; /* POSICIONAR O ITEM NUMA POSIÇÃO EXATA QUE EU DESEJAR */
    top: 0;
    left: 0;
    z-index: -1; /* DEFINE QUEM FICA NA FRENTE DE QUEM */
    object-fit: cover;/* FAZ COM QUE O VIDEO CUBRA TODA A TELA  */
    filter: brightness(60%);
}

h1{
    padding: 15px;
    opacity: calc(90%);
    background-color: rgb(144, 199, 247);
    color: white;
}

p{
    color: white;
}